.container {
  width: 80%;
  margin: 10px auto;
  position: relative;
}
.card {
  position: absolute;
  text-align: center;
  text-align: justify;
  padding: 10px;
  top: 0;
  opacity: 0;
}

.container:hover img {
  transform: rotateY(180deg);
  transition: 2s;
}
.container:hover .card {
  min-height: 100%;
  background-color: beige;
  transition: 2s;
  opacity: 100;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.btn {
  background: white;
  border: 1px solid;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.btn:hover {
  background-color: blueviolet;
  border: none;
}
.price {
  position: absolute;
  top: 10px;
  right: 5px;
  transform: rotate(-180deg);
  writing-mode: vertical-lr;
}
.price p {
  background: white;
  padding: 5px 3px;
  font-size: 15px;
  font-family: monospace;
}
.container:hover .price {
  transition: 2s;
  opacity: 0;
}

.header {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 90%;
}
.header h1 {
  margin: 0;
  color: aliceblue;
}
.container:hover .header {
  transition: 2s;
  opacity: 0;
}
.mask{
    -webkit-mask-image: url('../src/pic/images.png');
    mask-image: url('../src//pic//images.png');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}